<template>
    <div class="game-window" ref="gameWindow"></div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import * as PIXI from 'pixi.js'

@Component({})
export default class GameWindow extends Vue {

    mounted() {
        let gameWindowElement = this.$refs.gameWindow as Element;
        let game = new PIXI.Application({
            width: 600,
            height: 600
        });
        gameWindowElement.appendChild(game.view);
        // let ship = PIXI.Sprite.fromImage('../assets/ship.svg');
        let ship = PIXI.Sprite.fromImage('/public/ship.svg');
        ship.anchor.set(0.5);
        ship.position.x = game.screen.width / 2;
        ship.position.y = game.screen.height / 2;
        game.stage.addChild(ship);
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.game-window {
    background-color: black;
    color: white;
}

</style>
