<template>
  <div class="home">
    <img src="../assets/logo.png">
    <img src="/nope/ship.svg" alt="">
    <GameWindow></GameWindow>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GameWindow from '@/game/GameWindow.vue'; // @ is an alias to /src

@Component({
  components: {
    GameWindow,
  },
})
export default class Home extends Vue {}
</script>
